# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Binaries
out/
build/

# Visual Studio
.vs/

# VideoCodecSDK Binaries
!3rdparty/vendor/NVIDIA/VideoCodecSDK/Windows/lib/nvcuvid.lib
!3rdparty/vendor/NVIDIA/VideoCodecSDK/Windows/lib/nvencodeapi.lib

!3rdparty/vendor/NVIDIA/VideoCodecSDK/Linux/x86_64/lib/libnvcuvid.so
!3rdparty/vendor/NVIDIA/VideoCodecSDK/Linux/x86_64/lib/libnvidia-encode.so

!3rdparty/vendor/NVIDIA/VideoCodecSDK/Linux/aarch64/lib/libnvcuvid.so
!3rdparty/vendor/NVIDIA/VideoCodecSDK/Linux/aarch64/lib/libnvidia-encode.so
